body{
  margin: 0;
  padding: 0;
}

#pantalla{
  display: flex;
}

.izquierda{ 
  background-color: #399b53;
  width: 40%;
  font-size:xx-large;
  text-align: center;
  font-weight: bold; 
}
.elementos{
  margin:20vh 0 10vh 0;
  border-radius: 8px;
}

img{
  height: 30vh;
  width: 30vh;
  border-radius: 10px;
  margin: auto;
  border: 2px solid black;
}
.titulo{
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 70px;
}
.texto{
  font-family: "Trebuchet MS", Verdana, sans-serif;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 40px;
}

/*configuracion parte derecha*/

.derecha{
  background-color: #F5EEE6;
  width: 60%;
  height: 100vh;
}
.title {
  font-size: 50px;
  margin: 0;
  color: #399b53;
  -webkit-text-stroke: 1px black;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  border-radius: 1px solid;
  text-align: center;
  background-color: white;
  width: 50vh;
  border-radius: 10px;
  padding: 20px 40px;
  margin:10vh 0 5vh 35vh;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
}
.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 40px; /*propiedad para dar espacio entre cada input*/
}

.input {
  align-items: center;
  height: 100%;
  width: 80%;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 16px;
  padding: 0 20px;
}

.label {
  top: 15px;
  left: 15px;
  padding: 0 4px;
  color: black;
  font-size: 16px;
}
.select_type{
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
.select-type{
	width: 90%;
	cursor: pointer;
  padding: 7px 10px;
  height: 42px;
	color: #7b7b7b;
	font-size: 1em;
	font-family:'Quicksand', sans-serif;
	border:2px solid;
  border-radius: 12px;
  position: relative;
  background: none;
}

.form .boton{
  background-color: #399b53;
  align-items: center;
  color: white;
  border: 2px solid;
  width: 70%;
  padding: 13px;
  text-transform: uppercase;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
}

.btn{
  display: inline-block;
  background-color: #007bff;
  color: white;
  border: 2px solid;
  padding: 13px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 15px;
  font-weight: bold;
  text-align: center;
  border: 1px solid black;
  margin-top: 15px;
}

#tabla{
  border: 5px solid black;
}

/*configuracion movimientos*/
